body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#555;
}

.cv-container {
    max-width: 800px;
    margin: 20px auto;
    background:rgb(252, 197, 206);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.cv-header {
    text-align: center;
    padding: 20px;
    background: white;
    color:rgb(116, 153, 240);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid white;
}

.contact-info {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.contact-info li {
    display: inline;
    margin: 0 10px;
    font-size: 14px;
}

.cv-section {
    margin: 20px 0;
}

h2 {
    color: #555;
    border-bottom: 2px solid #74c0fc;
    padding-bottom: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin: 10px;
}
th, td{
    border: 1px rgb(29, 28, 28);
    padding: 8px;
    text-align: left;
}
th{
    background-color: #f0f8ff;
    color: rgb(19, 18, 18);
}

